:root{
    --scooter-50: #ebfeff;
    --scooter-100: #cefcff;
    --scooter-200: #a2f6ff;
    --scooter-300: #63edfd;
    --scooter-400: #1cdaf4;
    --scooter-500: #00cfee;
    --scooter-600: #0397b7;
    --scooter-700: #0a7894;
    --scooter-800: #126178;
    --scooter-900: #145065;
    --scooter-950: #063546;
}
@media screen and (max-width: 960px) {

    .navegacion > a > img{
        margin-left: 25% !important;
    }

    h1 {
        font-size: 3rem;
      }

    .navegacion{
        background-color: var(--scooter-950); 
        width: 100%;
        height: 660px;
    }

    .menu{
        display: none;
    }

    section{
        display: flex;
        flex-direction: column;
    }

    button{
        margin-left: 25% !important;
    }

    .imgcard{
        display: flex;
        flex-direction: column;
        margin-left: -90px;
    }

    .imagenes{
        width: 0px;
    }
    

    .imgcard > a > img{
        border-radius: 10px;
    }

    .introduccion{
        margin-left: -90px !important;
    }

    .introduccion > p{
        font-size: 18px;
    } 

    .conocimientos{
        height: 1700px !important;
    }

    .conocimientos > p{
        width: 65% !important;
    }

    .javascript{
        margin-bottom: 25px;
    }

    .css3{
        margin-bottom: 25px;
    }

    .html5{
        margin-bottom: 25px;
    }

    .svg{
        margin-bottom: 25px;
    }

    .servicios{
        display: flex !important;
        flex-direction: column !important;
    }

    .soporte{
        margin-bottom: 60px;
    }

    .proyectos{
        .container{
            display: flex;
            flex-direction: column;
        }
    }

    .mipagina > img{
        width: 100% !important;
        height: 220px !important;
    }

    .esquadron > img{
        width: 100% !important;
        height: 220px !important;
    }

    .notaria3 > img{
        width: 60% !important;
        height: 220px !important;
    }

    .dappvene > img{
        width: 60% !important;
        height: 220px !important;
        margin-top: -100px !important;
    }

    .contactame{
        display: flex;
        flex-direction: column;
    }

    .send{
        margin-left: 50% !important;
    }

    .mensaje{
        width: 80% !important;
    }
   
  }