:root{
    --scooter-50: #ebfeff;
    --scooter-100: #cefcff;
    --scooter-200: #a2f6ff;
    --scooter-300: #63edfd;
    --scooter-400: #1cdaf4;
    --scooter-500: #00cfee;
    --scooter-600: #0397b7;
    --scooter-700: #0a7894;
    --scooter-800: #126178;
    --scooter-900: #145065;
    --scooter-950: #063546;
}
@media screen and (max-width: 600px) {
    .navegacion{
        background-color: var(--scooter-950); 
        width: 100%;
        height: 660px;
    }

    section{
        display: flex;
        flex-direction: column;
    }

    .conocimientos > p{
        width: 100%;
    }

    .proyectos{
        .container{
            display: flex;
            flex-direction: column;
        }
    }

    .mipagina > img{
        width: 100%;
        height: 220px;
    }

    .esquadron > img{
        width: 100%;
        height: 220px;
    }

    .notaria3 > img{
        width: 60%;
        height: 220px;
    }

    .dappvene > img{
        width: 60%;
        height: 220px;
    }

    .mensaje{
        width: 100%;
    }
   
  }