.navegacion{
    background-color: #333333ff; 
    height: 760px;
}


.navegacion > a > img{
    margin-top: 30px;
    margin-left: 50px;
}

.navegacion > ul{
    position: absolute;
    margin-left: 500px;
    margin-top: -160px;
}

.navegacion > ul >li{
    text-transform: uppercase;
    font-family: system-ui;
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
    display: inline;
}

.navegacion > ul >li >a{
    color: white;
    text-decoration: none;
}

h1{
    color: white;
    text-align: center;
    font-family: system-ui;
    font-size: 45px;
    text-transform: capitalize;
    margin-top: 150px;
    margin-bottom: 15px !important;
}

h2{
    color: white;
    text-align: center;
    font-family: system-ui;
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 25px !important;
}

button{
    text-transform: uppercase;
    margin-left: 45%;
    width: 180px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    background-color: #00cfeeff ;
    color: white;
}

button:hover{
    background-color: #2980B9;
    color: grey;
}

.control{
    display: flex;
    justify-content: center;
    background-color: #00cfeeff;
    width: auto;
    height: 130px;
}

.control > div > p{
 margin-top: 15px;
 padding-top: 10px;
 color: white;
 font-family: system-ui;
 text-transform: capitalize;
 text-align: center;
 font-size: large;
}

.control > div{
    width: 100px;
}

section{
    display: flex;
    margin: 100px 100px 100px 150px;
}

section > div{
    margin-left: 100px;
}

section > div >h4{
    text-transform: capitalize;
    text-align: center;
    padding: 15px 0px 15px 0px;
}

section > div >h3{
    text-transform: uppercase;
    color: #00cfeeff;
    font-family: system-ui;
    font-size: 27px;
}

section > div >h5{
    text-transform: capitalize;
    font-weight: bold;
    padding: 20px 0px 15px 0px;
}
.imgcard{
    font-family: system-ui;
}

.introduccion{
    font-family: system-ui;
}

section > div > p{
    font-size: 25px;
}

.imagenes{
    width: 230px;
    height: 40px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.imagenes > img:first-child{
    width: 30px;
    height: 30px;
    padding-top: 5px;
}

.conocimientos{
    background-color: #e6e6fa;
    height: 600px;
}

.conocimientos h3{
    text-transform: uppercase;
    color: #00cfeeff;
    font-family: system-ui;
    font-size: 30px;
    text-align: center;
    padding-top: 90px;
}

.conocimientos{
    text-align: center;
    font-size: 25px;
    color: black;
    font-family: system-ui;
}

.conocimientos p{
    width: 800px;
    padding-top: 50px;
    padding-left: 20%;
    padding-bottom: 70px;
}

.servicios{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
    margin-left: 40px;
    margin-right: 40px;
    font-family: system-ui;
}

.principal{
    grid-area: 1 / 1 / 2 / 3;
}

.principal h3{
    text-transform: uppercase;
    color: #00cfeeff;
    font-family: system-ui;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
}

.principal h6{
    text-align: center;
    font-size: 27px;
    font-weight: normal;
    margin-bottom: 50px;
}

.principal p{
    text-align: center;
    font-size: 27px;
}

.planeacion{
    grid-area: 2 / 1 / 3 / 2;
}
.planeacion h4{
    font-size: 27px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: system-ui;
}
.planeacion img{
    width: 100px;
    height: 100px;
}

.diseno{
    grid-area: 2 / 2 / 3 / 3;
}
.diseno h4{
    font-size: 27px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.diseno img{
    width: 100px;
    height: 100px;
}

.programacion{
    grid-area: 3 / 1 / 4 / 2;
}
.programacion h4{
    font-size: 27px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.programacion img{
    width: 100px;
    height: 100px;
}

.soporte{
    grid-area: 3 / 2 / 4 / 3;
}
.soporte h4{
    font-size: 27px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.soporte img{
    width: 100px;
    height: 100px;
}

.eslogan{
    background-color: #00cfeeff;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eslogan p{
    color: white;
    font-size: 27px;
    font-family: system-ui;
}

.proyectos h3{
    text-align: center;
    color: #00cfeeff;
    text-transform: uppercase;
    font-family: system-ui;
    font-size: 27px;
    margin-top: 100px;
}
.proyectos h6{
    text-align: center;
    font-size: 27px;
    font-weight: normal;
    margin-bottom: 50px;
    font-family: system-ui;
}


.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.mipagina{
    grid-area: 1 / 1 / 2 / 3;
    justify-self: center;
}
.mipagina img{
    width: 600px;
    height: 330px;
}

.esquadron{
    grid-area: 2 / 1 / 3 / 2;
    justify-self: center;
}
.esquadron img{
    width: 600px;
    height: 330px;
}

.notaria3{
    grid-area: 2 / 2 / 3 / 3;
    width: 600px;
    height: 330px;
    justify-self: center;
}
.notaria3 img{
    width: 600px;
    height: 330px;
}

.contacto{
    margin-bottom: 100px;
}

.contacto h3{
    text-transform: uppercase;
    font-family: system-ui;
    color: #00cfeeff;
    font-size: 27px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 70px;
}

.contactame{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 100px;
}

.nombre{
    grid-area: 1 / 1 / 2 / 2;
    justify-self: center;
    font-family: system-ui;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.nombre label{
    margin-bottom: 10px;
    text-transform: capitalize;
}
.nombre input{
    border: none;
    border-bottom: 2px solid gray;
    font-family: system-ui;
}

.correo{
    grid-area: 1 / 2 / 2 / 3;
    justify-self: center;
    font-family: system-ui;
    display: flex;
    flex-direction: column;
}
.correo label{
    margin-bottom: 10px;
    text-transform: capitalize;
}
.correo input{
    border: none;
    border-bottom: 2px solid gray;
    font-family: system-ui;
}

.mensaje{
    grid-area: 2 / 1 / 3 / 3;
    justify-self: center;
    font-family: system-ui;
    display: flex;
    flex-direction: column;
}
.mensaje label{
    margin-bottom: 10px;
    text-transform: capitalize;
}

.mensaje input{
    border: 2px solid gray;
    border-radius: 5px;
    width: 1000px;
    height: 200px;
}

.tarjeta{
    background-color: #333333ff;
    color: white;
    font-family: system-ui;
    text-align: center;
    height: 300px;
}
.tarjeta h5{
    padding-top: 50px;
    margin-bottom: 25px;
}
.tarjeta table{
    margin-left: 50px;
}

.derechos{
    margin-top: 100px;
}



